.roadmap-title {
  color: #4155A7;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 0;
}

.roadmap-subtitle {
  color: #2E2E2E;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: normal;
  margin: 0;

}
