<section class="py-5">
  <main class="d-flex justify-content-between">
    <div class="d-flex overflow-x-scroll align-items-center">
      <ng-container *ngFor="let role of rolesStarted$|async">
        <div class="me-4">
          <app-card-role [role]="role.name" [title]="role.name" [borderColor]="role.name"/>
        </div>
      </ng-container>

      <!-- <div *ngIf="rolesStarted.length<3">
         <button (click)="startRoles(role)" class="btn btn-outline-light p-0">
            <app-icon-add/>
          </button>
      </div>
    </div>
    <div *ngIf="rolesStarted.length>2" class="mx-2">
      <app-button-start-role/>

-->
    </div>
    <app-button-start-role/>
  </main>
</section>
