<ng-form>
  <section class="form-login m-auto">
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" id="email" placeholder="Ingresá tu email" type="email">
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Contraseña</label>
      <input class="form-control" id="password" placeholder="Ingresá tu contraseña" type="password">
    </div>

    <button class="my-5 btn w-100 btn-primary"> Ingresar</button>
  </section>
</ng-form>
