<ngx-graph class="rotate"
  class="chart-container"
  [draggingEnabled]="false"
  [autoZoom]="true"
  [zoomSpeed]="0.05"
  [view]="[1920, 1080]"
  [links]="[
    {
      id: 'c',
      source: 'a',
      target: 'a1',
      label: 'bc1'
    },
    {
      id: 'd',
      source: 'a',
      target: 'd1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'na',
      target: 'e1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'na',
      target: 'f1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'a',
      target: 'na',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'd1',
      target: 'b1',
      label: 'bc1'
    },
  ]"
  [nodes]="[
    {
      id: 'a',
      label: 'Product thinking',
    },
    {
      id: 'b1',
      label: 'Mvp'
    },
    {
      id: 'b2',
      label: 'lanzamiento del'
    },
    {
      id: 'a1',
      label: 'Análisis de uso'
    },
    {
      id: 'a2',
      label: 'Retención de '
    },
    {
      id: 'a3',
      label: 'Pivote del '
    },
    {
      id: 'd1',
      label: 'Análisis de uso'
    },
    {
      id: 'd2',
      label: 'Retención de'
    },
    {
      id: 'd3',
      label: 'Pivote del'
    },
    {
      id: 'nodo vacio se rama',
      label: ''
    },
    {
      id: 'e1',
      label: 'Análisis de uso'
    },
    {
      id: 'e2',
      label: 'Retención de'
    },
    {
      id: 'e3',
      label: 'Pivote del'
    },
    {
      id: 'f1',
      label: 'Análisis de uso'
    },
    {
      id: 'f2',
      label: 'Retención de'
    },
    {
      id: 'f3',
      label: 'Pivote del'
    },

  ]"
  [clusters]="[
    {
      id: 'two',
      label: 'lanzamiento',
      childNodeIds: ['b1', 'b2'],
    },
    {
      id: 'three',
      label: 'Post lanzamiento',
      childNodeIds: ['a1', 'a2', 'a3']
    },
    {
      id: 'four',
      label: 'asdsad',
      childNodeIds: ['d1', 'd2', 'd3']
    },
    {
      id: 'five',
      label: 'blabla',
      childNodeIds: ['e1', 'e2', 'e3']
    },
    {
      id: 'six',
      label: 'oaaaaaaa',
      childNodeIds: ['f1', 'f2', 'f3']
    }
  ]"
  layout="dagreCluster"
>
  <ng-template #defsTemplate>
    <svg:marker
      id="arrow"
      viewBox="0 -5 10 10"
      refX="8"
      refY="0"
      markerWidth="4"
      markerHeight="4"
      orient="auto"
    >
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #clusterTemplate let-cluster>

    <svg:g class="node cluster">
      <svg [attr.width]="cluster.dimension.width + 80" [attr.height]="cluster.dimension.height" y="80"  xmlns="http://www.w3.org/2000/svg">

        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          [attr.y]="47+10-10"
          [attr.width]="cluster.dimension.width+70"
          [attr.height]="cluster.dimension.height-140-25"
          rx="16"
          ry="16"
          fill="#C5F6B9"
        />
        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          [attr.y]="47+10-10"
          [attr.width]="cluster.dimension.width+70"
          [attr.height]="cluster.dimension.height-140-16-25"
          fill="#C5F6B9"
        />

        <rect
        class="modificadorDeEstilosPredefinidos"
        x="10"
        [attr.y]="10-10"
        [attr.width]="cluster.dimension.width+70"
        [attr.height]="38*1.5"
        [attr.rx]="16*1.5"
        [attr.ry]="16*1.5"
        fill="#2E2E2E"
      />
      <rect
        class="modificadorDeEstilosPredefinidos"
        x="10"
        [attr.y]="29"
        [attr.width]="cluster.dimension.width+70"
        [attr.height]="19*1.5"
        fill="#2E2E2E"
      />

      <text
        [attr.x]="(cluster.dimension.width+70)/2+10"
        y="40"
        fill="#fff"
        [attr.font-size]="18*1.5"
        text-anchor="middle"
        font-family="'Lato', sans-serif"
      >
        {{ cluster.label}}
        
      </text>
      
      </svg>
    </svg:g>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node" >
        <svg:rect *ngIf="node.dimension.width>20"
          [attr.x]="(-(cluster.dimension.width-node.dimension.width)/2)+45"
          [attr.width]="(cluster.dimension.width)"
          [attr.height]="38*2"
          fill="#ffffff"
          stroke="#e3e3e3"
          [attr.rx]="16*2"
          [attr.ry]="16*2"
        />
        <svg:text
          alignment-baseline="central"
          [attr.x]="(node.dimension.width / 2) + 45"
          [attr.y]="node.dimension.height / 2"
          fill="#000000"
          [attr.font-size]="18*1.5"
          text-anchor="middle"
          font-family="'Lato', sans-serif"
        >
          {{ node.label }}
        </svg:text>
      </svg:g>
    </ng-template>

  </ng-template>

</ngx-graph>

<svg:marker
  id="arrow"
  viewBox="0 -5 10 10"
  refX="8"
  refY="0"
  markerWidth="4"
  markerHeight="4"
  orient="auto"
>
  <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
</svg:marker>
