<ngx-graph class="rotate"
  class="chart-container"
  [view]="[1920, 1080]"
  [links]="[
    {
      id: 'a',
      source: 'a',
      target: 'c1',
      label: 'bc1'
    },
    {
      id: 'c',
      source: 'a',
      target: 'a1',
      label: 'bc1'
    },
    {
      id: 'd',
      source: 'a',
      target: 'd1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'na',
      target: 'e1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'na',
      target: 'f1',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'a',
      target: 'na',
      label: 'bc1'
    },
    {
      id: 'e',
      source: 'd1',
      target: 'b1',
      label: 'bc1'
    },
  ]"
  [nodes]="[
    {
      id: 'a',
      label: 'Product thinking',
    },
    {
      id: 'c1',
      label: 'estrategia de producto'
    },
    {
      id: 'c2',
      label: 'Visión del producto'
    },
    {
      id: 'c3',
      label: 'propuesta de valor'
    },
    {
      id: 'b1',
      label: 'Mvp'
    },
    {
      id: 'b2',
      label: 'lanzamiento del producto'
    },
    {
      id: 'a1',
      label: 'Análisis de uso del producto'
    },
    {
      id: 'a2',
      label: 'Retención de clientes'
    },
    {
      id: 'a3',
      label: 'Pivote del producto'
    },
    {
      id: 'd1',
      label: 'Análisis de uso del producto'
    },
    {
      id: 'd2',
      label: 'Retención de clientes'
    },
    {
      id: 'd3',
      label: 'Pivote del producto'
    },
    {
      id: 'na',
      label: 'nodo aislado'
    },
    {
      id: 'e1',
      label: 'Análisis de uso del producto'
    },
    {
      id: 'e2',
      label: 'Retención de clientes'
    },
    {
      id: 'e3',
      label: 'Pivote del producto'
    },
    {
      id: 'f1',
      label: 'Análisis de uso del producto'
    },
    {
      id: 'f2',
      label: 'Retención de clientes'
    },
    {
      id: 'f3',
      label: 'Pivote del producto'
    },

  ]"
  [clusters]="[
    {
      id: 'one',
      label: 'Pre lanzamiento',
      childNodeIds: ['c1', 'c2', 'c3', 'v1']
    },
    {
      id: 'two',
      label: 'lanzamiento',
      childNodeIds: ['b1', 'b2'],
    },
    {
      id: 'three',
      label: 'Post lanzamiento',
      childNodeIds: ['a1', 'a2', 'a3']
    },
    {
      id: 'four',
      label: '',
      childNodeIds: ['d1', 'd2', 'd3']
    },
    {
      id: 'five',
      label: '',
      childNodeIds: ['e1', 'e2', 'e3']
    },
    {
      id: 'six',
      label: '',
      childNodeIds: ['f1', 'f2', 'f3']
    }
  ]"
  layout="dagreCluster"
>
  <ng-template #defsTemplate>
    <svg:marker
      id="arrow"
      viewBox="0 -5 10 10"
      refX="8"
      refY="0"
      markerWidth="4"
      markerHeight="4"
      orient="auto"
    >
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #clusterTemplate let-cluster>
    <svg:g class="node cluster">
      <svg [attr.width]="cluster.dimension.width + 80" [attr.height]="cluster.dimension.height" y="80"  xmlns="http://www.w3.org/2000/svg">
        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          y="10"
          [attr.width]="cluster.dimension.width"
          height="38"
          rx="16"
          ry="16"
          fill="#2E2E2E"
        />
        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          y="29"
          [attr.width]="cluster.dimension.width"
          height="19"
          fill="#2E2E2E"
        />

        <text
          [attr.x]="(cluster.dimension.width/2)+10"
          y="35"
          fill="#fff"
          font-size="18"
          text-anchor="middle"
          font-family="Lato"
        >
          {{ cluster.label}}
          
        </text>

        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          y="47"
          [attr.width]="cluster.dimension.width"
          [attr.height]="cluster.dimension.height-140"
          rx="16"
          ry="16"
          fill="#C5F6B9"
        />
        <rect
          class="modificadorDeEstilosPredefinidos"
          x="10"
          y="47"
          [attr.width]="cluster.dimension.width"
          [attr.height]="cluster.dimension.height-140-16"
          fill="#C5F6B9"
        />
      </svg>
    </svg:g>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node" >
      <svg:rect *ngIf="node.dimension.width>20"
        x="0"
        [attr.width]="node.dimension.width+20"
        height="38"
        fill="#ffffff"
        stroke="#e3e3e3"
        rx="16"
        ry="16"
      />
      <svg:text
        alignment-baseline="central"
        [attr.x]="20"
        [attr.y]="node.dimension.height / 2"
      >
        {{ node.label }}
      </svg:text>
    </svg:g>
  </ng-template>

</ngx-graph>

<svg:marker
  id="arrow"
  viewBox="0 -5 10 10"
  refX="8"
  refY="0"
  markerWidth="4"
  markerHeight="4"
  orient="auto"
>
  <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
</svg:marker>
