<div class="deck-container m-auto">
  <div class="row gy-4">
    <app-card-role [backgroundColor]="'cyan'" [borderColor]="'black'" [title]="'FrontEnd'"
                   class="col-4" [routerLink]="'../auth'"/>
    <app-card-role [backgroundColor]="'green'" [borderColor]="'black'" [title]="'FrontEnd'"
                   class="col-4" routerLink="algo"/>
    <app-card-role [backgroundColor]="'black'" [borderColor]="'white'" [title]="'FrontEnd'"
                   class="col-4" routerLink="algo"/>
    <app-card-role [backgroundColor]="'white'" [borderColor]="'cyan'" [title]="'FrontEnd'"
                   class="col-4" routerLink="algo"/>
    <app-card-role [backgroundColor]="'white'" [borderColor]="'green'" [title]="'FrontEnd'"
                   class="col-4" routerLink="algo"/>
    <app-card-role [backgroundColor]="'white'" [borderColor]="'grey'" [title]="'FrontEnd'"
                   class="col-4" routerLink="algo"/>

  </div>
</div>
