.display-1 {
  color: #2D5E81;
  font-family: Inter, serif;

  span {
    color: #B2AEBB;
    font-family: Inter, serif;
  }
}

.description {
  font-size: 0.8125rem;
  color: #2E2E2E;
}

.header-container {

  max-width: 18.625rem;
}


@media (min-width: 768px) {
  .description {
    font-size: 1.25rem;
    color: #2E2E2E;
  }

  .header-container {

    max-width: 29.9375rem;
  }

}
