<p>tree-test2 works!</p>
<ejs-diagram #diagram id="diagram" width="100%" height="580px" [getNodeDefaults] ='getNodeDefaults' (created)='created($event)'>
    <e-nodes>
        <e-node id='node1' [offsetX]=100 [offsetY]=100>
        </e-node>
        <e-node id='node2' [offsetX]=200 [offsetY]=200>
        </e-node>
        <e-node id='node3' [offsetX]=400 [offsetY]=300 >
        </e-node>
        <e-node id='group' [children]='children' [padding]="padding">
        </e-node>
    </e-nodes>
</ejs-diagram>`