<div class="d-flex flex-column gap-2">
  <button class="btn btn-google">
    <div class="d-flex justify-content-start align-items-center">
      <span class="me-4"><app-icon-google/></span> Continuar con Google
    </div>
  </button>
  <button class="btn btn-facebook">
    <div class="d-flex justify-content-start align-items-center">
      <span class="me-3"><app-icon-facebook/></span>
      Continuar con Facebook
    </div>
  </button>
  <button class="btn btn-github">
    <div class="d-flex justify-content-start align-items-center">
      <span class="me-3"><app-icon-github/></span> Continuar con GitHub
    </div>
  </button>
</div>
