<header class="d-flex justify-content-start align-items-center">
  <app-icon-topics/>
  <div class="ps-1">
    <h2 class="skills-title ">Habilidades</h2>
    <p class="skills-subtitle ">Elige las habilidades que deseas desarrollar</p>
  </div>
</header>

<section class="d-flex justify-content-end ">
  <p class="text-muted"><small><span><app-icon-success/></span> En progreso </small></p>
  <p class="ms-2 text-muted"><small> <span><app-icon-success [success]="true"/></span> Finalizados </small></p>
</section>


<main>
  <app-profile-skills-list/>
</main>


